{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  
  <!-- https://getbootstrap.com/docs/4.2/getting-started/introduction/#starter-template -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <div class="container-fluid top-box unpulled">
    <div class="row">
      <div class="col center" font-size="xx-large">17:00</div>
    </div>
    <div class="row">
      <div class="center pull-tabs"></div>
    </div>
  </div>
  
  
  <div class="container-fluid bottom-box unpulled">
    <div class="row">
      <div class="center pull-tabs"></div>
    </div>
    <div class="row">
      <div class="col center"><b>[A] Tropical Storm Anne</b></div>
    </div>
        <div class="row">
      <div class="col center">
          <div class="container-fluid">
            <div class="row">
              <div class="col a">
                weather element a
              </div>
              <div class="col b">
                weather element b
              </div>
              <div class="col c">
                weather element c
              </div>
              <div class="col d">
                weather element d
              </div>
            </div>
            <div class="row">
              <div class="col">
                16:00
              </div>
              <div class="col center">
                <b>17:00</b>
              </div>
              <div class="col">
                18:00
              </div>
            </div>
        </div></div>
    </div>
        <div class="row">
      <div class="col center">---</div>
    </div>
        <div class="row">
      <div class="col center">---</div>
    </div>
        <div class="row">
      <div class="col center">---</div>
    </div>
        <div class="row">
      <div class="col center">[B] Bergen Township</div>
    </div>
  </div>
  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>





